<div class="main">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 style="text-align: center;"><b>Sign Up</b></h1>
<br>
<p style="text-align: center;">Already have an account?<a href="Signin" style="color:blue">Sign In</a> </p>
<br>
<form>
<mat-label>Email</mat-label>
<br>
<mat-form-field appearance="outline" style="width: 100%; ">
    <input type="email" matInput placeholder="" >
</mat-form-field>
<br>
<mat-label>Password</mat-label>
<br>
<mat-form-field appearance="outline" style="width: 100%; ">
    <input matInput placeholder="">
</mat-form-field>
<br>
<mat-label>Secret</mat-label>
<br>
<mat-form-field appearance="outline" style="width: 100%; ">
    <input matInput placeholder="">
</mat-form-field>
<br>
<button mat-raised-button color="primary" style="width: 100%;text-align: start; "><i style="font-size:24px;padding-right: 40%;" class="fa">&#xf023;</i> Sign Up</button>
<br>
<br>
<p style="text-align:center; font-size: smaller;">  By clicking the "Sign Up" button you are creating an account, and you agree to the Terms of Use.</p>
</form>
</div>