.main{
    margin: auto;
    width: 30%;
    padding: 10px;
}
table, th {
    border: 2px solid black;
    color: white;
    font-size: small;
    font-style: normal;
    padding: 25px;
    background-color: darkgray;
    border-collapse: collapse;
  }
  td{
    border: 1px solid black;
    padding: 25px;
    color: black;
    background-color: white;
    border-collapse: collapse; 
  }