<div class="main">
<h2 style="text-align: center;"><b>Contact Form and Contact List Page</b></h2>
<h3 style="padding-left: 60px;">Add Contacts</h3>
<form [formGroup]="contactForm">
<div>   
<label style="padding-right: 9px;">Name</label>
<input type="text" style="padding: 5px;" formControlName="name">
</div>
<br>
<div>
<label style="padding-right: 10px;">Ph No</label>
<input type="number" style="padding: 5px;" formControlName="phonenumber">
</div>
<br>
<div>
<label style="padding-right: 12px;">Email</label>
<input type="email" style="padding: 5px;" formControlName="email">
</div>
<br>
<div style="padding-left:160px">
<button mat-raised-button color="primary" (click)="addItem()"> Save</button>
</div>
</form>
<br>
<h3 style="padding-left: 60px;">My Contacts</h3>
    <table style="width:100%; ">
      <thead>
        <th >Name</th>
        <th >Ph No</th>
        <th >Email</th>
      </thead>
      <tr *ngFor="let Contact of ContactList">
        <td>{{Contact.name}}</td>
        <td>{{Contact.phonenumber}}</td>
        <td>{{Contact.email}}</td>
      </tr>
    </table>
</div>


